= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .bar.bar-header.bar-positive
    .title-bold.title Yarntale
  .content.has-header
    .list
      %label.item
        = f.error_notification
      %label.item.item-input
        %span.input-label Email
        %input{type:"email",required: true, autofocus:true, name: "user[email]"}
      %label.item.item-input        
        %span.input-label Password
        %input{type:"password",required: true, name: "user[password]"}
      = f.input :remember_me, :as => :hidden, :value => true        
      .padding
        = f.button :submit, "Register", class: "button button-block button-positive"
        %br
        = render "devise/shared/links.mobile.html.haml"
