.col-sm-12
  = simple_form_for(@tale, html: { class: 'form-horizontal' }) do |f|
    = f.input :name, label: "Title"
    .row
      .col-sm-4
        = f.input :cover, label: "Cover Image"
      .col-sm-6
        - if f.object.cover.present?
          %a{href: f.object.cover.url(:crop), target: "_blank",style:"cursor:pointer;"}
            = image_tag f.object.cover.url(:thumb), style: "height:60px;"

    .row
      .col-sm-4
        = f.input :audio, label: "Background Audio"
        - if f.object.audio.present?
          .player-wrap
            %audio{src: f.object.audio.url, controls:true}
      .col-sm-4
        = f.input :audio_volume, type: :number, input_html: { min: 0, max: 100 }, label: "Background Audio Volume (1-100)"
    %h3 Slides
    #tasks
      .jquery-sortable
        = f.simple_fields_for :slides, include_id: false do |slide|
          = render 'slide_fields', f: slide
        .links
          = link_to_add_association '<i class="fa fa-plus" style="vertical-align:middle" aria-hidden="true"></i> add slide'.html_safe, f, :slides, class: "btn btn-default"
    .margin-top
    %button.btn.btn-default{type: :submit}
      %i.fa.fa-check
      Save
