.nested-fields.margin-bottom-sm
  .row
    = f.hidden_field :id
    = f.hidden_field :position
    .col-sm-1
      %i.sort-handle.cursor-move.color-gray.fa.fa-sort.fa-2x{"aria-hidden" => "true", title: "drag to reorder"}
      = link_to_remove_association "<i class='fa fa-2x fa-remove color-red margin-top-sm'></i>".html_safe, f, data: { confirmation: "Delete slide?"}
    .col-sm-6
      = f.input :caption, input_html: { style: "vertical-align:top;width:90%;"}
    .col-sm-2
      = f.input :image, input_html: { style: "margin:0"}
      - if f.object.image.present?
        .row
          %a{href: f.object.image.url(:crop), target: "_blank",style:"cursor:pointer;"}
            = image_tag f.object.image.url(:thumb), style: "height:60px;"
    .col-sm-2
      = f.input :audio
      - if f.object.audio.present?
        %audio.row{src: f.object.audio.url, controls:true}
