.nested-fields.margin-bottom-sm
  .row
    = f.hidden_field :id
    = f.hidden_field :position
    .col-sm-1
      %i.sort-handle.cursor-move.color-gray.fa.fa-sort.fa-2x{"aria-hidden" => "true", title: "drag to reorder"}
      = link_to_remove_association "<i class='fa fa-2x fa-remove color-red margin-top-sm'></i>".html_safe, f, data: { confirmation: "Delete slide?"}
    .col-sm-5
      = f.input :caption, input_html: { style: "vertical-align:top;width:90%;", rows: 14}
    .col-sm-6
      .row
        .col-sm-6
          = f.input :image, input_html: { style: "margin:0"}
          - if f.object.image.present?
            .row
              %a{href: f.object.image.url(:crop), target: "_blank",style:"cursor:pointer;"}
                = image_tag f.object.image.url(:thumb), style: "height:60px;"
        .col-sm-6
          = f.input :audio, label: "Image Audio"
          - if f.object.audio.present?
            .player-wrap.row
              %audio{src: f.object.audio.url, controls:true}
      .row
        .col-sm-12
          = f.input :video, label: "or Video"
          - if f.object.video.present?
            .row
              = video_tag f.object.video.url, { controls: true, style: "width:70%"}
      .col-sm-3
        = f.hidden_field :duration
