%h1 Your Tales

%table.table
  %thead
    %tr
      %th title
      %th slides
      %th

  %tbody
    - @tales.each do |tale|
      %tr
        %td= tale.name
        %td
          = tale.slides.count
        %td
          = link_to 'Show', tale, class: "btn btn-primary", target: "_blank"
          = link_to 'Edit', edit_tale_path(tale), class: "btn btn-primary"
          = link_to 'Embed', embed_tale_path(tale), class: "btn btn-primary"
          = link_to 'Destroy', tale_path(tale), method: :delete, class: "btn btn-warning"
%br

= link_to 'New Tale', new_tale_path, class: "btn btn-primary"
