= render "layouts/menu"
.pull-right
  = link_to "<i class='fa fa-plus'></i> Create Tale".html_safe, new_tale_path, class: "btn btn-success", style: "margin-top:10px"

%h1 Tales

%table.table
  %thead
    %tr
      %th title
      %th slides
      %th duration
      %th views
      %th

  %tbody
    - @tales.each do |tale|
      %tr
        %td
          = tale.name
          - if tale.user != current_user
            %div
              .label.label-info
                = tale.user.display_name
                tale
        %td
          = tale.slides.count
        %td
          = Time.at(tale.duration).utc.strftime("%H:%M:%S")
        %td
          = tale.page_views
        %td
          = link_to "<i class='fa fa-eye'></i> Show".html_safe, tale.path, class: "btn btn-default", target: "_blank"
          = link_to "<i class='fa fa-pencil-square-o'></i> Edit".html_safe, edit_tale_path(tale), class: "btn btn-default"
          = link_to "<i class='fa fa-code'></i> Embed".html_safe, embed_tale_path(tale), class: "btn btn-default"
          - if tale.user==current_user
            = link_to "<i class='fa fa-trash-o'></i> Destroy".html_safe, tale_path(tale), method: :delete, class: "btn btn-danger", data: { confirm: "Delete tale?"}
%br
