  <script>
  $(function() {

    $.extend(YARNTALE, JSON.parse( '<%= @tale.to_json(only: [:audio_snap_to_slides, :slide_duration]).html_safe %>'))

    YARNTALE.slides = [
      <% position = 0 %>
      <% @tale.slides.each_with_index do |slide,slide_i| %>
      {
        <%= slide.to_json(except: [:id,:tale_id,:caption,:image,:video,:audio]).gsub(/^{/,"").gsub(/}$/,"").html_safe %>,
        video: "<%= slide.video.url %>",
        <% if slide.youtube_video_link.present? %>
          youtube: { video_html: "<%== j render('slides/youtube_video', slide: slide, slide_index: slide_i) %>", 
          thumb_html: "<%== j render('slides/youtube_thumb', slide: slide) %>" }, 
          youtube_video_start_i: <%= slide.youtube_video_start.to_i %>,
        <% end %>
        position: <%= position %>,
        duration: <%= slide.duration %>,
        image: {original: "<%= slide.image.url(:crop) %>",
                thumb: "<%= slide.image.url(:thumb) %>"},
        audio: "<%= slide.audio.url if slide.audio.present? %>",
        caption: decodeURIComponent("<%= URI.encode(slide.caption.gsub("\n","<br>")) %>")
      },
      <% position += slide.duration %>
      <% end %>
    ]

    <% if @tale.audio.present? %>
      YARNTALE.audio = "<%= @tale.audio.url %>"
      YARNTALE.audio_vol = <%= @tale.audio_vol %>
    <% end %>

    <% if @tale.cover.present? %>
      YARNTALE.cover = "<%= @tale.cover.url(:original) %>"
    <% end %>

    YARNTALE.prepare(".yarntale")

  })
</script>


<% if @tale.captions_font.present? %>
  <link href="//fonts.googleapis.com/css?family=<%= @tale.captions_font.gsub(' ','+') %>" rel="stylesheet" type="text/css">
<% end %>  
<style>
.yarntale .sensor.bottom .caption .text {
  <% if @tale.captions_font.present? %>
    font-family: "<%= @tale.captions_font.gsub('+', ' ') %>";
  <% end %>
  <% if @tale.captions_font_size.present? %>
    font-size: <%= @tale.captions_font_size %>px;
  <% end %>  
  <% if @tale.captions_letter_spacing.present? %>
    letter-spacing: <%= @tale.captions_letter_spacing %>px;
  <% end %>
}

<% if @tale.media_fit_mode=="cover" %>
.yarntale .slide_view .slide { 
  object-fit: cover;
}
.yarntale .slide_view .slide img, .yarntale .slide_view .slide video, .yarntale .slide_view .slide iframe {
  object-fit: cover;
}
<% end %>
 

</style>

<div  style="width:100%;margin:0 auto;height:100%;" >


  <div class="yarntale">

    <div class="sensor top left">
      <div class="nav prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
    </div>

    <div class="sensor top right">
      <div class="nav next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
    </div>

    <div class="sensor bottom drag-enabled">

      <div class="volume_sensor drag-enabled">
        <div class="volume_slider drag-enabled">
          <div class="button drag-enabled"></div>
          <div class="line"></div>
        </div>
        <div class="volume"><i class="fa fa-volume-down" aria-hidden="true"></i></div>
      </div>

      <div class="caption">
        <div class="text"></div>
      </div>

      <div class="timeline">

        <div class="control">
          <div class="pause"><i class="fa fa-pause" aria-hidden="true"></i></div>
          <div class="play"><i class="fa fa-play" aria-hidden="true"></i></div>
        </div>

        <div class="slides_line_nav prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>

        <div class="slides">
          <div class="platform">
          </div>
        </div>

        <div class="slides_line_nav next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>

        <div class="fullscreen disabled">
          <i class="fa fa-arrows-alt" aria-hidden="true"></i>
        </div>

        <div class="cc">
          <i class="fa fa-cc" aria-hidden="true"></i>
        </div>

      </div>
    </div>

    <div class="slide_view play_toggle">
      <div class="state_icon play">
        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
      </div>
      
      <div class="state_icon pause">
        <i class="fa fa-pause-circle-o" aria-hidden="true"></i>
      </div>
    </div>
        
    <audio class="audio" loop></audio>
    <audio class="slide_audio"></audio>
  </div>
</div>
