<script>
  $(function() {

    YARNTALE.slides = [
      <% @tale.slides.each do |slide| %>
      {
        image: {original: "<%= slide.image.url %>",
                thumb: "<%= slide.image.url(:thumb) %>",
                medium: "<%= slide.image.url(:medium) %>"},
        audio: "<%= slide.audio.url %>",
        caption: "<%= slide.caption %>"
      },
      <% end %>
    ]


    YARNTALE.attach_to(".yarntale").setSlideIndex(0)

  })
</script>


<div style="width: 980px;margin:0 auto;">

  <div class="yarntale" style="margin:0 auto;">
  </div>

</div>