<script>
  $(function() {

    $.extend(YARNTALE, JSON.parse( '<%= @tale.to_json(only: :slide_duration).html_safe %>'))

    YARNTALE.slides = [
      <% position = 0 %>
      <% @tale.slides.each do |slide| %>
      {
        <%= slide.to_json(except: [:id,:tale_id,:caption,:image,:video,:audio]).gsub(/^{/,"").gsub(/}$/,"").html_safe %>,
        video: "<%= slide.video.url %>",
        position: <%= position %>,
        duration: <%= slide.duration %>,
        image: {original: "<%= slide.image.url(:crop) %>",
                thumb: "<%= slide.image.url(:thumb) %>"},
        audio: "<%= slide.audio.url if slide.audio.present? %>",
        caption: decodeURI("<%= URI.encode(slide.caption.gsub("\n","<br>")) %>")
      },
      <% position += slide.duration %>
      <% end %>
    ]

    <% if @tale.audio.present? %>
      YARNTALE.audio = "<%= @tale.audio.url %>"
      YARNTALE.audio_vol = <%= @tale.audio_vol %>
    <% end %>

    YARNTALE.cover = "<%= @tale.pick_cover %>"

    YARNTALE.attach_to(".yarntale")

  })
</script>
<div
  <% if params[:mode]!="embed" %>
    style="width:980px;margin:0 auto;"
  <% end %>
>


  <div class="yarntale">

    <div class="sensor top left">
      <div class="nav prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
    </div>

    <div class="sensor top right">
      <div class="nav next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
    </div>

    <div class="sensor bottom drag-enabled">

      <div class="volume_sensor drag-enabled">
        <div class="volume_slider drag-enabled">
          <div class="button drag-enabled"></div>
          <div class="line"></div>
        </div>
        <div class="volume"><i class="fa fa-volume-down" aria-hidden="true"></i></div>
      </div>

      <div class="caption">
        <div class="text"></div>
      </div>

      <div class="timeline">

        <div class="control">
          <div class="pause"><i class="fa fa-pause" aria-hidden="true"></i></div>
          <div class="play"><i class="fa fa-play" aria-hidden="true"></i></div>
        </div>

        <div class="slides_line_nav prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>

        <div class="slides">
          <div class="platform">
          </div>
        </div>

        <div class="slides_line_nav next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>

        <div class="fullscreen">
          <i class="fa fa-arrows-alt" aria-hidden="true"></i>
        </div>

        <div class="cc">
          <i class="fa fa-cc" aria-hidden="true"></i>
        </div>

      </div>
    </div>

    <div class="slide_view"></div>
    <audio class="audio" loop></audio>
    <audio class="slide_audio"></audio>
  </div>
</div>
