<!DOCTYPE html>
<html>
<head>
  <title>Yarntale</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>APP_HOST="<%= request.protocol + request.host_with_port %>"</script>
</head>
<body class="<%= [params[:controller].gsub("/","_"),params[:action]].compact.join(" ") %>">

<%= flash_messages %>
<%= yield %>

</body>
</html>
