!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "/app-icon.png", :rel => "icon", :type => "image/png"}/
    %title
      Yarntale#{yield(:title)}#{@page_title}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{class: [params[:controller].gsub("/","_"),params[:action]].compact.join(" ")+(is_mobile_browser? ? " mobile" : " desktop")}
    .flash_messages
      = render "layouts/flash_messages"
    .yield
      = yield
